<!doctype html>
<html lang="en" data-bs-theme="dark">

<%- include('partials/head.ejs') %>

    <body class="text-center">


        <%- include('partials/navbar.ejs') %>

            <div class="container mt-4">
                <h1>Welcome <strong>
                        <%= username %>
                    </strong> to the Quotes and Authors Website!</h1>
                This website is about quotes and authors. You can add new quotes and authors by clicking the links in
                the
                navbar.
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                    crossorigin="anonymous"></script>








    </body>

</html>